/* ==================COMMON */
:root {
    --bg-grey: #EDF2EC;
    --bg-whiite: #FFFFFF;
    --green: #499A18;
    --orange: #E06733;
    --light-grey: #717171;
    --dark-grey: #636060;
    --black: #010201;

}

.body {
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
}

a {
    text-decoration: none;
}

h1, ul {
    margin: 0
}

/* ==================HEADER */
.header_container {
    padding-top: 42px;
    padding-bottom: 42px;
}

.header_container, .logo_link, .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list_item {
    list-style: none;
    margin-left: 46px;
}

.logo_img {
    width: 20px;
    height: 20px;
}

.logo {
    align-items: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.logo_link {
}

.header_link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--black);
}
