/* ==================COMMON */
* {
    box-sizing: border-box;
}

:root {
    --bg-grey: #EDF2EC;
    --bg-white: #FFFFFF;
    --green: #499A18;
    --orange: #E06733;
    --light-grey: #717171;
    --dark-grey: #636060;
    --black: #010201;

}

.body {
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
}

a {
    text-decoration: none;
}

h1, h2, h3, ul, p, button {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

/* ==================HEADER */
.header_container {
    padding-top: 42px;
    padding-bottom: 42px;
}

.header_container, .logo_link, .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list_item {
    list-style: none;
    margin-left: 46px;
}

.logo_img {
    width: 20px;
    height: 20px;
}

.logo {
    align-items: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header_link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--black);
}

.active, .header_link:hover {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: var(--orange);
}

/* =======================WELCOME */

.welcome_container {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 62px;
}

.h2-inter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: var(--light-grey);
}

.p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--dark-grey);
}

.welcome_text {
    margin-top: 45px;
}

.welcome_btn {
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid var(--orange);
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.welcome_img {
    display: block;
    max-width: 448.8px;
    max-height: 407.36px;
}

.welcome_content {
    max-width: 549px;
    margin-top: 35px;
}


/* =================ABOUT */

.about {
    background-color: var(--bg-white);
}

.h2-inika {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    padding-right: 30px;
}

.about_container {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 94px;
}

.about_content {
    max-width: 605px;
    margin-top: 68px;
}

.about_text {
    margin-top: 40px;
    line-height: 30px;
}

/* =========================service */

.service_container {
    padding-top: 40px;
    padding-bottom: 121px;
}

.service_content {
    display: flex;
    justify-content: flex-start;
}

.btn_wrapper {
    width: 67.5%;
    margin-top: 29px;
}

.service_btn {
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-right: 35px;
    border-radius: 5px;
}

.cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    row-gap: 55px;
}

.card {
    width: 330px;
    height: 450px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    background-color: var(--bg-grey);
    overflow: hidden;
}

.card_img {
    width: 329px;
    height: 350px;
    background-color: var(--bg-grey);
}

.card_img-1 {
    background-image: url(../plants/assets/JPG/one.jpg);
}

.card_img-2 {
    background-image: url(../plants/assets/JPG/two.jpg);
}

.card_img-3 {
    background-image: url(../plants/assets/JPG/three.jpg);
}

.card_img-4 {
    background-image: url(../plants/assets/JPG/four.jpg);
}

.card_img-5 {
    background-image: url(../plants/assets/JPG/five.jpg);
}

.card_img-6 {
    background-image: url(../plants/assets/JPG/six.jpg);
}

.h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--orange);
    margin-top: 10px;
}

.h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--light-grey);
    margin-top: 15px;
    text-align: center;
}

/* ==============PRICES */
.prices {
    background-color: var(--bg-white);
}

.prices_container {
    padding-top: 40px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
}

.prices_h2 {
    font-size: 40px;
    line-height: 48px;
}

.prices_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.price-table {
    max-width: 332px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    margin-top: 60px;
    padding: 2px 0;
}

.table-item {
    width: 250px;
    height: 50px;
    background: var(--bg-grey);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 32px 41px;
    padding-top: 16px;
    padding-left: 40px;
}

.img_arrow {
    margin: -17px 40px 17px auto;
    display: block;

}

.prices_content_right {
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-img {
    background-image: url(../plants/assets/PNG/leafs.png);
    width: 152px;
    height: 174.99px;
    margin-top: 35px;
}

.prices_btn {
    width: 162px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin-top: 40px;
    background-color: transparent;
}

/* ===================Contacts */

.contacts_h2 {
    text-align: center;
    font-weight: 700;
    padding-right: 0;
    padding-top: 5px;

}

.contacts_container {
    background-image: url(../plants/assets/PNG/contact_woman.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: 109px 57px;
    padding-top: 60px;
}

.contacts_menu {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    margin-top: 37px;
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--light-grey);
    padding-left: 20px;
    padding-top: 3px;
}

.arrow-2 {
    margin: -25px 36px 17px auto;
}

/* ======================FOOTER */

.footer_container {
    padding-top: 45px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list {
    display: flex;
}

.footer_item {
    list-style-type: none;
}

.github, .git, .rs {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.rs {
    margin-right: -20px;
}

.github, .footer_list{
    gap: 20px;
}

.footer {
    background-color: var(--bg-white);
}
