/* ==================COMMON */
* {
    box-sizing: border-box;
}

:root {
    --bg-grey: #EDF2EC;
    --bg-white: #FFFFFF;
    --green: #499A18;
    --orange: #E06733;
    --light-grey: #717171;
    --dark-grey: #636060;
    --black: #010201;

}

.body {
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
}

a {
    text-decoration: none;
    border: none;
    color: black;
}

h1, h2, h3, ul, p, button {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

button, a:hover {
    cursor: pointer;

}

button:hover {
    background-color: var(--orange);
    color: var(--bg-white);
    transition: .6s;
}

/* ==================HEADER */
.header_container {
    padding-top: 42px;
    padding-bottom: 42px;
}

.header_container, .logo_link, .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list_item {
    list-style: none;
    margin-left: 46px;
}

.logo_img {
    width: 20px;
    height: 20px;
}

.logo {
    align-items: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header_link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--black);
}

.active, .header_link:hover {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: var(--orange);
    transition: all .6s;
}

/* =======================WELCOME */

.welcome_container {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 62px;
}

.h2-inter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: var(--light-grey);
}

.p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--dark-grey);
}

.welcome_text {
    margin-top: 45px;
}

.welcome_btn {
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid var(--orange);
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.welcome_img {
    display: block;
    max-width: 448.8px;
    max-height: 407.36px;
}

.welcome_content {
    max-width: 549px;
    margin-top: 35px;
}


/* =================ABOUT */

.about {
    background-color: var(--bg-white);
}

.h2-inika {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    padding-right: 30px;
}

.about_container {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 94px;
}

.about_content {
    max-width: 605px;
    margin-top: 68px;
}

.about_text {
    margin-top: 40px;
    line-height: 30px;
}

/* =========================service */

.service_container {
    padding-top: 40px;
    padding-bottom: 121px;
}

.service_content {
    display: flex;
    justify-content: flex-start;
}

.btn_wrapper {
    width: 67.5%;
    margin-top: 29px;
}

.service_btn {
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-right: 35px;
    border-radius: 5px;
}

.cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    row-gap: 55px;
}

.card {
    width: 330px;
    height: 450px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    background-color: var(--bg-grey);
    overflow: hidden;
}

.card_img {
    width: 329px;
    height: 350px;
    background-color: var(--bg-grey);
    background-size: cover;
    background-position: center;
}

.card_img-1 {
    background-image: url(../plants/assets/JPG/one.jpg);
}

.card_img-2 {
    background-image: url(../plants/assets/JPG/two.jpg);
}

.card_img-3 {
    background-image: url(../plants/assets/JPG/three.jpg);
}

.card_img-4 {
    background-image: url(../plants/assets/JPG/four.jpg);
}

.card_img-5 {
    background-image: url(../plants/assets/JPG/five.jpg);
}

.card_img-6 {
    background-image: url(../plants/assets/JPG/six.jpg);
}

.h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--orange);
    margin-top: 10px;
}

.h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--light-grey);
    margin-top: 15px;
    text-align: center;
}

/* ==============PRICES */
.prices {
    background-color: var(--bg-white);
}

.prices_container {
    padding-top: 40px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
}

.prices_h2 {
    font-size: 40px;
    line-height: 48px;
}

.prices_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.price-table {
    max-width: 332px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    margin-top: 60px;
    padding: 2px 0;
}

.table-item {
    width: 250px;
    height: 50px;
    background: var(--bg-grey);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 32px 41px;
    padding-top: 16px;
    padding-left: 40px;
}

.img_arrow {
    margin: -17px 40px 17px auto;
    display: block;

}

.prices_content_right {
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-img {
    background-image: url(../plants/assets/PNG/leafs.png);
    width: 152px;
    height: 174.99px;
    margin-top: 35px;
}

.prices_btn {
    width: 162px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
    margin-top: 40px;
    background-color: transparent;
}

/* ===================Contacts */

.contacts_h2 {
    text-align: center;
    font-weight: 700;
    padding-right: 0;
    padding-top: 5px;

}

.contacts_container {
    background-image: url(../plants/assets/PNG/contact_woman.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: 109px 57px;
    padding-top: 60px;
}

.contacts_menu {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    margin-top: 37px;
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--light-grey);
    padding-left: 20px;
    padding-top: 3px;
}

.arrow-2 {
    margin: -25px 36px 17px auto;
}

/* ======================FOOTER */

.footer_container {
    padding-top: 45px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list {
    display: flex;
}

.footer_item {
    list-style-type: none;
}

.github, .git, .rs {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.rs {
    margin-right: -20px;
}

.github, .footer_list {
    gap: 20px;
}

.footer {
    background-color: var(--bg-white);
}


/* ====================Adaptiive */

@media (max-width: 1240px) {
    .about_img {
        width: 38%;
        margin-top: 64px;
    }

    .h2-inika {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
    }

    .about_content {
        min-width: 425px;
        margin-top: 0px;
        max-width: 100%;
    }

    .service_content {
        flex-direction: column;
    }

    .service_container {
        padding-top: 60px;
    }

    .service_content>.h2 {
        padding: 0;
        width: 38%;
        text-align: left;
    }

    .service_btn {
        margin-right: 0px;
    }

    .btn_wrapper {
        display: flex;
        column-gap: 38px;
        width: 100%;
        margin-top: 40px;
    }

    .cards_wrapper {
        margin-top: 40px;
        row-gap: 38px;
        column-gap: 106px;
        justify-content: space-around;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header_container {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .welcome_container {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .welcome_content {
        margin-top: 0px;
    }

    .h2-inter {
        font-size: 35px;
    }

    .welcome_text, .welcome_btn {
        margin-top: 30px;
    }

    .welcome_text {
        font-size: 16px;
        line-height: 25px;
    }

    .welcome_img {
        max-width: 280px;
        max-height: 254.15px;
        order: 1;
    }

    .about_container {
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    .about_content {
        margin-top: 0px;
    }

    .about_text {
        margin-top: 53px;
    }

    .cards_wrapper {
        column-gap: normal;
    }

    .service_container {
        padding-bottom: 70px;
    }

    .contacts_container {
        padding-top: 35px;
        height: 739px;
        background-size: 200px 248.49px;
        background-position: 52% 100%;
    }

    .contacts_h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
    }

    .contacts_menu {
        margin: 100px auto 0;
    }

}

@media (max-width: 768px) {
    .welcome_content {
        max-width: 341px;
    }

    .cards_wrapper {
        justify-content: space-between;
    }

    .card {
        width: 281px;
    }

    .card_img {
        width: 100%;
    }

    .h4 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .prices_container {
        padding-top: 42px;
        padding-bottom: 88px;

    }

    .prices_h2 {
        font-size: 35px;
        line-height: 42px;
        margin-left: 15px;
    }

    .prices_text {
        font-size: 25px;
        line-height: 35px;
        margin-top: 100px;
    }

    .prices_btn {
        margin-top: 28px;
    }

    .footer_container {
        padding-top: 33px;
        padding-bottom: 18px;
        flex-direction: column;
        gap: 16px;
    }

    .github, .git, .rs {
        line-height: 24px;
    }

    .rs {
        margin-right: 0px;
    }

    .footer_list {
        margin-top: 9px;
    }
}

@media (max-width: 666px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav {
        display: none;
    }

    .welcome_container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .welcome_img {
        display: none;
    }

    .welcome_content {
        max-width: 100%;
    }
}

@media (max-width: 380px) {
    .h2-inter {
        font-size: 25px;
        line-height: 35px;
    }

    .welcome_text {
        margin-top: 20px;
    }

    .welcome_btn {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
        margin-top: 27px;
    }
}